
  
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Basic Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{selected}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2" >
        <button class="dropdown-item" *ngFor='let item of myitems, let i = index' (click)='myclick(i)'>{{item.item + i}}</button>
      </div>
    </div>
  
